<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Juliano Saunders</title>
  <meta name="Personal Website" content="">
  <meta name="Juliano Saunders" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <!-- Mobile Specific Metas - Requirement for Bulma
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- We are using Bulma which is installed as a package -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

   <!-- Icons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://kit.fontawesome.com/d978a55889.js" crossorigin="anonymous"></script>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      
    // Functions to open and close a modal
    function openModal($el) {
      $el.classList.add('is-active');
    }

    function closeModal($el) {
      $el.classList.remove('is-active');
    }

    function closeAllModals() {
      (document.querySelectorAll('.modal') || []).forEach(($modal) => {
        closeModal($modal);
      });
    }

    // Add a click event on buttons to open a specific modal
    (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
      const modal = $trigger.dataset.target;
      const $target = document.getElementById(modal);

      $trigger.addEventListener('click', () => {
        openModal($target);
      });
    });

    (document.querySelectorAll('.notification .delete') || []).forEach(($close) => {
      const $target = $close.closest('.modal');

      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });

    // Add a click event on various child elements to close the parent modal
    (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .notification .delete, .modal-card-foot .button') || []).forEach(($close) => {
      const $target = $close.closest('.modal');

      $close.addEventListener('click', () => {
        closeModal($target);
      });
    });

    // Add a keyboard event to close all modals
    document.addEventListener('keydown', (event) => {
      const e = event || window.event;

      if (e.keyCode === 27) { // Escape key
        closeAllModals();
      }
    });
  });
  </script>


</head>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>
  <div class='container hero is-fullheight'>

    <%- include('../partials/header.ejs') %>

    <section class="section is-medium">
      <%- include('../partials/introductoryCard.ejs') %>
    </section>

    <section class="section">
      <div class="columns is-mobile">
        <div class="column is-offset-half">
          <i class="fa-solid fa-2x fa-hand-point-down"></i>
          <i class="fa-solid fa-2x fa-hand-point-down"></i>
        </div>
      </div>
    </section>

    
    <section class="section is-small">
      <%- include('../partials/career.ejs') %>
    </section>

    <section class="section">
      <%- include('../partials/articles.ejs') %>
    </section>

    <%- include('../partials/footer.ejs') %>
  </div>


  <%- include('../partials/modal.ejs') %>
</body>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>
