<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>Juliano Saunders</title>
  <meta name="Personal Website" content="">
  <meta name="Juliano Saunders" content="">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

  <!-- Mobile Specific Metas - Requirement for Bulma
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- We are using Bulma which is installed as a package -->

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

   <!-- Icons
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="https://kit.fontawesome.com/d978a55889.js" crossorigin="anonymous"></script>


</head>
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<body>
  <div class='container hero is-fullheight'>

    <!-- <%- include('../partials/header.ejs') %> -->

    <section class="section is-large">
      <%- include('../partials/introductoryCard.ejs') %>
    </section>

    <section class="section">
      <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
          <article class="message is-info">
            <div class="message-body">
              <i class="fa-solid fa-bell" style="color:gold"></i>
              Psssst... Scroll down for more! 👇
            </div>
          </article>
        </div>
      </div>
    </section>

    
    <section class="section is-large">
      <%- include('../partials/career.ejs') %>
    </section>

    <section class="section">
      <div class="columns is-mobile">
        <div class="column is-half is-offset-one-quarter">
          <article class="message is-info">
            <div class="message-body">
              <i class="fa-solid fa-bell" style="color:gold"></i>
              Thought it would end there? Scroll down for even more!! 👇
            </div>
          </article>
        </div>
      </div>
    </section>

    <section class="section">
      <%- include('../partials/articles.ejs') %>
    </section>

    <%- include('../partials/footer.ejs') %>
  </div>
</body>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</html>
